{{!-- action 屬性來定義表單資料發送的位置 --}}
{{!-- 「用 POST 方法，把資料送給 /todos 位置」 --}}
<form action="/todos" method="POST">
  <input type="text" placeholder="name" name="name">
  <button type="submit">Create</button>
</form>